#quote-page body {
    margin: 0;
    padding: 0;
    padding-top: 0px;
    box-sizing: border-box;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

#quote-page .container {
    min-height: calc(80vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}


#quote-form {
    display: flex;

}
#quote-page #quote-button:focus,
#quote-page #quote-button:active {
    outline: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

#quote-page button.btn-primary {
    height: 40px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 0.2s ease-in-out;
}

#quote-page button.btn-primary:hover,
#quote-page button.btn-primary:focus {
    background-color: #ffffff00;
    transform: scale(1.2);
}

#quote-page button svg {
    width: 3em;
    height: 3em;
    fill: white;
    align-items: center;
    align-content: center;
}
#quote-page .mb-3 {
    max-height: 100px;
}

/* .Money {
    color: green
}

footer {
    text-align: center;
    margin-top: 20px;
} */