{% extends "layout.html" %}

{% block title %}
    Balance
{% endblock %}

{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/balance.css' %}">
{% endblock %}


{% block main %}
    <div class="money">
        <span style="color: white;">Balance:</span> 
        <span class="money">{{ balance }} </span>
    </div>
    <div id="balance-page" class="wrapper2">
        <form action="/balance/" class="form" method="post"> {% csrf_token %}
            <div class="mb-3 field_holder">
                <input autocomplete="off" id="cash" class="form-control mx-auto w-auto input" name="cash" placeholder="" type="number" min="1" required>
                <label class="label" for="cash">Enter Cash</label>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
            {% if errorMessage %}
            <div class="errorMessage">
                <br>
                {{ errorMessage }}
            </div>
            {% endif %}
        </form>
    </div>
</div>    
{% endblock %}
