{% extends "layout.html" %}


{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/yuy.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'CSS/balance.css' %}">
{% endblock %}


{% block title %}
    Buy
{% endblock %}

{% block main %}
<div class="money">
    <span style="color: white;">Balance:</span> 
    <span class="money">{{ balance }} </span>
</div>
<div class="wrapper2">    
    <form action="/buy/" class="form" method="post"> {% csrf_token %}
        <div class="mb-3 field_holder">
            <input autocomplete="off" id="Symbol"  class="form-control mx-auto w-auto input" name="symbol" placeholder="" type="text" required>
            <label class="label" for="Symbol">Symbol</label>
        </div>
        <div class="mb-3 field_holder">
            <input class="form-control mx-auto w-auto input" autocomplete="off" id="Shares" name="shares" placeholder="" type="number" min="1" required>
            <label class="label" for="Shares">Shares</label>
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>     
        {% if errorMessage %}
        <div class="errorMessage">
              <br>
              {{ errorMessage }}
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}

