{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
<div class="money">Balance: {{ balance }}</div>
<div class="wrapper2">    
    <form action="/buy" class="form" method="post">
        <div class="mb-3 field_holder">
            <input autocomplete="off" id="Symbol"  class="form-control mx-auto w-auto input" name="symbol" placeholder="" type="text">
            <label class="label" for="Symbol">Symbol</label>
        </div>
        <div class="mb-3 field_holder">
            <input class="form-control mx-auto w-auto input" autocomplete="off" id="Shares" name="shares" placeholder="" type="number" min="1">
            <label class="label" for="Shares">Shares</label>
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
</div>
{% endblock %}
