{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/index.css' %}">
{% endblock %}


{% block main %}
<br>
<table class="table">
    <thead>
        <tr>
            <th>Transaction</th>
            <th>Stock</th>
            <th>Shares</th>
            <th>Price bought/sold for</th>
            <th>Date-time</th>
        </tr>
    </thead>
    <tbody>
        {% for trans in transactions %}

        <tr>
            <td>
                {% if trans.purchase_type == 'Buy' %}
                  <span style="color: green;">{{ trans.purchase_type }}</span>
                {% else %}
                  <span style="color: red;">{{ trans.purchase_type }} </span>
                {% endif %}
              </td>
            <td>{{ trans.symbol }} </td>
            <td>{{ trans.shares }}</td>
            <td><span style="color: green;">{{ trans.price_when_bought }}</span></td>
            <td>{{ trans.time }}</td>
        </tr>

        {% endfor %}

    </tbody>
</table>
{% endblock %}
