{% extends "layout.html" %}

{% block title %}
Homepage
{% endblock %}

{% block main %}
<div class="money"><span class="balance-label">Balance:</span> {{ balance }}</div>
<div class="money"><span class="balance-label">Grand total: </span>{{ grandTotal }}</div>
<br>
<table class="table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Current price</th>
            <th>Total value</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in wallet %}

        <tr>
            <td>{{ stock.symbol }}</td>
            <td>{{ stock.shares }}</td>
            <td><span class="money">${{ stock.stock_price |floatformat:2}}</span></td>
            <td><span class="money">${{ stock.total |floatformat:2}}</span></td>
            
        </tr>

        {% endfor %}


    </tbody>
</table>
{% endblock %}
