{% extends "layout.html" %}

{% block title %}
Homepage
{% endblock %}

{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/index.css' %}">
{% endblock %}


{% block main %}
<div class="money"><span class="balance-label">Balance:</span> {{ balance }}</div>
<div class="money"><span class="balance-label">Grand total: </span>{{ grandTotal }}</div>
<br>
<table class="table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Current price</th>
            <th>Total value</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in wallet %}
        <tr>
            <td>{{ stock.symbol }}</td>
            <td>{{ stock.shares }}</td>
            <td style="color: green !important;">${{ stock.stock_price |floatformat:2}}</td>
            <td style="color: green !important;">${{ stock.total |floatformat:2}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
