{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}


{% block main %}
    <div class="wrapper">
        <form action="/login/" method="post"> {% csrf_token %}
            <div class="mb-3" id="index-box">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text" required>
            </div>
            <div class="mb-3" id="index-box">
                <input class="form-control mx-auto w-auto" id="pass" autocomplete="off" name="password" placeholder="Password" type="password" required>
            </div>
            <button class="btn btn-primary" id="sub" type="submit">Log In</button>
            <div class="register"> <p>Don't have an account? <a href="/register">Register</a></p></div>
        </form>
    </div>
    

    {% if errorMessage %}
    <div class="errorMessage">
        {{ errorMessage }}
    </div>
{% endif %}
{% endblock %}
