{% extends "layout.html" %}

{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/yuy.css' %}">
{% endblock %}


{% block main %}
    <div class="wrapper">
        <form action="/password/" method="post">{% csrf_token %}    
            <div class="mb-3">
                <input autocomplete="off" class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text required">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="old_password" placeholder="old password" type="password" required>
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="new_password" placeholder="new Password" type="password" required>
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="confirm" placeholder="confirm new password" type="password" required>
            </div>
            <button class="btn btn-primary" type="submit">Change</button>
            {% if errorMessage %}
            <div class="errorMessage">
                {{ errorMessage }}
            </div>
            {% endif %}
        </form>

    </div>
    
{% endblock %}