{% extends "layout.html" %}

{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/yuy.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'CSS/balance.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'CSS/quote.css' %}">
{% endblock %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="wrapper">
        <form action="/register/" method="post"> {% csrf_token %}
             <input class="form-control mx-auto w-auto" name="username" type="text" placeholder="Username" autocomplete="off" required>
            <br>
            <input class="form-control mx-auto w-auto" name="password" type="password" placeholder="Password" autocomplete="off" required>
            <br>
            <input class="form-control mx-auto w-auto" name="confirmation" type="password" placeholder="Confirm Password" autocomplete="off" required>
            <br> 
            <button class="btn btn-primary"  id="sub" type="submit">Register</button>
            <div class="register"> <p>Already have an account? <a href="/login">login</a></p></div>
            <div>
                <p><a href="https://github.com/abdullah72005/Stock_Trading/blob/main/README.md" target="_blank">About the website</a></p>
            </div>
            {% if errorMessage %}
            <div class="errorMessage">
                {{ errorMessage }}
            </div>
            {% endif %}
        </form>

    </div>

{% endblock %}
