{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="wrapper">
        <form action="/register" method="post">
             <input class="form-control mx-auto w-auto" name="username" type="text" placeholder="Username" autocomplete="off" autofocus required>
            <br>
            <input class="form-control mx-auto w-auto" name="password" type="password" placeholder="Password" autocomplete="off" required>
            <br>
            <input class="form-control mx-auto w-auto" name="confirmation" type="password" placeholder="Confirm Password" autocomplete="off" required>
            <br> 
            <!-- <div id="input-box">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="Email" placeholder="Email" type="email"><i class='bx bx-envelope' ></i>
            </div>
            <div class="mb-3" id="index-box">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3" id="index-box">
                <input class="form-control mx-auto w-auto" id="pass" autocomplete="off" name="password" placeholder="Password" type="password">
                <button type="button" id="show-pass">
                    <img src="../static/eye-open.svg">
                    <i class='bx bxs-lock-alt'></i>
                </button>
            </div> -->
            <button class="btn btn-primary"  id="sub" type="submit">Register</button>
            <div class="register"> <p>Already have an account? <a href="/login">login</a></p></div>
        </form>
    </div>
    <script src="../static/login.js"></script>
{% endblock %}
