{% extends "layout.html" %}


{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/yuy.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'CSS/balance.css' %}">
{% endblock %}


{% block title %}
    Sell
{% endblock %}

{% block main %}
<div class="money"><span class="balance-label">Balance:</span> {{ balance }}</div>
    <div class="wrapper2">
        <form action="/sell/" class="form" method="post">{% csrf_token %}
            <div class="mb-3 field_holder">
                <select class="form-select mx-auto w-auto select" name="symbol">
                    <option disabled selected>Symbol</option>

                        {% for stock in stocks %}
                        <option value="{{ stock.symbol }}">{{ stock.symbol }}</option>
                        {% endfor %}

                </select>
            </div>
            <div class="mb-3 field_holder">
                <input class="form-control mx-auto w-auto input" id="share" autocomplete="off" name="shares" placeholder="" type="number" min="1" required>
                <label class="label" for="share">Shares</label>
            </div>
            <button class="btn btn-primary" type="submit">Sell</button>
        </form>
    </div>   

    {% if errorMessage %}
    <div class="errorMessage">
        {{ errorMessage }}
    </div>
    {% endif %}
{% endblock %}

